# Created by .ignore support plugin (hsz.mobi)
#.idea/workspace.xml
#boot-common/src/test/
#boot-common/target/
#boot-test/src/test/
#boot-test/target/
#Would skip repository boot-tyb/
#boot-web/src/test/
#boot-web/target/

#.gitignore
src/test/
.idea
boot-parent.iml
boot-common/src/test/
boot-test/src/test/
boot-web/src/test/
