<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="footer">
	<!--	<script th:src="@{../../libs/jquery.min.js}"></script>
		<script th:src="@{../../libs/bootstrap.min.js}"></script>
		<script th:src="@{../../plugins/layer/layer.js}"></script>
		<script th:src="@{../../libs/vue.min.js}"></script>
		<script th:src="@{../../plugins/ztree/jquery.ztree.all.min.js}"></script>
		<script th:src="@{../../plugins/bootstrap-table/bootstrap-table.min.js}"></script>
		<script th:src="@{../../plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
		<script th:src="@{../../plugins/treegrid/jquery.treegrid.min.js}"></script>
		<script th:src="@{../../plugins/treegrid/jquery.treegrid.bootstrap3.js}"></script>
		<script th:src="@{../../plugins/treegrid/jquery.treegrid.extension.js}"></script>
		<script th:src="@{../../plugins/treegrid/tree.table.js}"></script>
		<script th:src="@{../../plugins/validator/validator.js}"></script>
		<script th:src="@{../../plugins/laydate/laydate.js}"></script>
		<script th:src="@{../../plugins/double-box/doublebox-bootstrap.js}"></script>
		<script th:src="@{../../js/common.js}"></script>
		<script th:src="@{../../js/form.js}"></script>-->



		<!--这是另外webProject里面一套模板引用的方式-->
		<!-- jQuery 2.2.3 -->
		<!--<script th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>-->
		<!--&lt;!&ndash; Bootstrap 3.3.6 &ndash;&gt;-->
		<!--<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>-->
		<!--&lt;!&ndash; Slimscroll ../plugins/slimScroll/jquery.slimscroll.min.js&ndash;&gt;-->
		<!--<script th:src="@{/plugins/slimScroll/jquery.slimscroll.min.js}"></script>-->
		<!--&lt;!&ndash; FastClick &ndash;&gt;-->
		<!--<script th:src="@{/plugins/fastclick/fastclick.js}"></script>-->
		<!--&lt;!&ndash; AdminLTE App &ndash;&gt;-->
		<!--<script th:src="@{/js/app.js}"></script>-->
		<!--&lt;!&ndash; AdminLTE for demo purposes &ndash;&gt;-->
		<!--<script th:src="@{/js/demo.js}"></script>-->
		<!--&lt;!&ndash;tabs&ndash;&gt;-->
		<!--<script th:src="@{/js/app_iframe.js}"></script>-->

	</div>
</body>
</html>