<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>注册即可领取现金红包！最高3000元！</title>
    <meta name="description" content="动动手指即可领红包啦！注册即可参与！百万现金红包免费送，人人有份，速来参与！"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <!--<link href="../css/self.css" rel="stylesheet" type="text/css"/>-->
    <link th:href="@{/app/css/self.css}" rel="stylesheet" >
    <!--页面内容样式-->
    <script th:src="@{/app/js/jquery.js}"></script>
    <script th:src="@{/app/js/zepto.min.js}"></script>
    <script th:src="@{/app/js/jsAnim.js}"></script>
    <script th:src="@{/app/js/scroll.js}"></script>
    <script th:src="@{/app/js/WebViewJavascriptBridge.js}"></script>
<!--    <script src="../js/jquery.js"></script>
    <script src="../js/zepto.min.js"></script>
    <script src="../js/jsAnim.js"></script>
    <script src="../js/scroll.js"></script>
    <script src="../js/WebViewJavascriptBridge.js"></script>-->
    <script type="text/javascript">
        (function (doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = "orientationchange" in window ? "orientationchange" : "resize",
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if (clientWidth >= 640) {
                        var clientWidth = 640;
                    }
                    docEl.style.fontSize = clientWidth / 20 + "px";
                };
            if (!doc.addEventListener) return;

            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener("DOMContentLoaded", recalc, false);
        })(document, window);
    </script>
</head>
<body>
<!--正文-->
<img src="/app/images/logo2.jpg" style=" position:fixed; right:-1000px;">
<div class="container">
    <!--第1部分-->
    <div class="row1">
        <div class="qb">
            <img src="/app/images/qd.png">
            <span class="q1">
                <img src="/app/images/q1.png">
            </span>
            <span class="q2">
                <img src="/app/images/q2.png">
            </span>
            <span class="q3">
                <img src="/app/images/q3.png">
            </span>
            <span class="q4">
                <img src="/app/images/q4.png">
            </span>
            <span class="q5">
                <img src="/app/images/q5.png">
            </span>
            <span class="q6">
                <img src="/app/images/q6.png">
            </span>
        </div>
    </div>
    <!--第2部分-->
    <div class="row2">
        <div class="xjhb">
            <div class="xjhb-img">
                <a class="ffds" href="javascript:;">
                    <img class="wkq" src="/app/images/mk.png">
                    <img class="pql" src="/app/images/pql.png">
                    <span class="dqhb"><em>25</em>元</span>
                </a>
                <span class="gb1">
                    <img src="/app/images/j1.png">
                </span>
                <span class="gb2">
                    <img src="/app/images/j2.png">
                </span>
                <span class="gb3">
                    <img src="/app/images/j3.png">
                </span>
            </div>
            <div class="hdgz">
                <h3><a class="rews" id="rfvs" href="javascript:;">点击领取</a><a class="rews" href="javascript:;" id="cxas">联系客服</a>
                </h3>
                <h4><a class="rule" href="javascript:;">活动规则</a></h4>
            </div>
        </div>
    </div>
    <!--第3部分-->
    <div class="row3">
        <div class="hblq">
            <div class="hblq-tit">
                红包领取名单
            </div>
            <div class="hblq-list">
                <ul>
                    <li>
                        <span>47秒前</span>
                        <span>153****9563</span>
                        <span>859元现金红包</span>
                    </li>
                    <li>
                        <span>52秒前</span>
                        <span>185****5017</span>
                        <span>1316元现金红包</span>
                    </li>
                    <li>
                        <span>58秒前</span>
                        <span>158****8182</span>
                        <span>789元现金红包</span>
                    </li>
                    <li>
                        <span>1分钟前</span>
                        <span>136****3239</span>
                        <span>1247元现金红包</span>
                    </li>
                    <li>
                        <span>1分钟前</span>
                        <span>131****2799</span>
                        <span>404元现金红包</span>
                    </li>
                    <li>
                        <span>2分钟前</span>
                        <span>186****9168</span>
                        <span>681元现金红包</span>
                    </li>
                    <li>
                        <span>2分钟前</span>
                        <span>139****3627</span>
                        <span>257元现金红包</span>
                    </li>
                    <li>
                        <span>3分钟前</span>
                        <span>185****4442</span>
                        <span>463元现金红包</span>
                    </li>
                    <li>
                        <span>3分钟前</span>
                        <span>133****3155</span>
                        <span>1314元现金红包</span>
                    </li>
                    <li>
                        <span>3分钟前</span>
                        <span>158****0917</span>
                        <span>86元现金红包</span>
                    </li>
                    <li>
                        <span>3分钟前</span>
                        <span>186****5278</span>
                        <span>836元现金红包</span>
                    </li>
                    <li>
                        <span>3分钟前</span>
                        <span>180****7714</span>
                        <span>267元现金红包</span>
                    </li>
                    <li>
                        <span>4分钟前</span>
                        <span>159****3349</span>
                        <span>155元现金红包</span>
                    </li>
                    <li>
                        <span>4分钟前</span>
                        <span>137****8199</span>
                        <span>106元现金红包</span>
                    </li>
                    <li>
                        <span>4分钟前</span>
                        <span>182****8294</span>
                        <span>471元现金红包</span>
                    </li>
                    <li>
                        <span>4分钟前</span>
                        <span>138****6777</span>
                        <span>344元现金红包</span>
                    </li>
                    <li>
                        <span>5分钟前</span>
                        <span>180****5003</span>
                        <span>399元现金红包</span>
                    </li>
                    <li>
                        <span>5分钟前</span>
                        <span>138****0275</span>
                        <span>1130元现金红包</span>
                    </li>
                    <li>
                        <span>6分钟前</span>
                        <span>136****8538</span>
                        <span>1610元现金红包</span>
                    </li>
                    <li>
                        <span>6分钟前</span>
                        <span>153****5771</span>
                        <span>105元现金红包</span>
                    </li>
                    <li>
                        <span>6分钟前</span>
                        <span>156****2206</span>
                        <span>657元现金红包</span>
                    </li>
                    <li>
                        <span>7分钟前</span>
                        <span>182****1663</span>
                        <span>95元现金红包</span>
                    </li>
                    <li>
                        <span>7分钟前</span>
                        <span>137****2148</span>
                        <span>20元现金红包</span>
                    </li>
                    <li>
                        <span>8分钟前</span>
                        <span>135****5591</span>
                        <span>40元现金红包</span>
                    </li>
                    <li>
                        <span>8分钟前</span>
                        <span>137****2518</span>
                        <span>258元现金红包</span>
                    </li>
                    <li>
                        <span>9分钟前</span>
                        <span>139****5215</span>
                        <span>32元现金红包</span>
                    </li>
                    <li>
                        <span>10分钟前</span>
                        <span>131****7177</span>
                        <span>433元现金红包</span>
                    </li>
                    <li>
                        <span>10分钟前</span>
                        <span>137****3515</span>
                        <span>33元现金红包</span>
                    </li>
                    <li>
                        <span>11分钟前</span>
                        <span>155****1668</span>
                        <span>112元现金红包</span>
                    </li>
                    <li>
                        <span>12分钟前</span>
                        <span>182****1131</span>
                        <span>151元现金红包</span>
                    </li>
                    <li>
                        <span>12分钟前</span>
                        <span>137****0898</span>
                        <span>83元现金红包</span>
                    </li>
                    <li>
                        <span>12分钟前</span>
                        <span>188****0075</span>
                        <span>136元现金红包</span>
                    </li>
                    <li>
                        <span>12分钟前</span>
                        <span>155****3456</span>
                        <span>27元现金红包</span>
                    </li>
                    <li>
                        <span>13分钟前</span>
                        <span>136****8000</span>
                        <span>2000元现金红包</span>
                    </li>
                    <li>
                        <span>13分钟前</span>
                        <span>152****9168</span>
                        <span>486元现金红包</span>
                    </li>
                    <li>
                        <span>15分钟前</span>
                        <span>153****8243</span>
                        <span>475元现金红包</span>
                    </li>
                    <li>
                        <span>15分钟前</span>
                        <span>137****8575</span>
                        <span>35元现金红包</span>
                    </li>
                    <li>
                        <span>15分钟前</span>
                        <span>130****5088</span>
                        <span>637元现金红包</span>
                    </li>
                    <li>
                        <span>16分钟前</span>
                        <span>156****6662</span>
                        <span>23元现金红包</span>
                    </li>
                    <li>
                        <span>16分钟前</span>
                        <span>139****3717</span>
                        <span>1447元现金红包</span>
                    </li>
                    <li>
                        <span>17分钟前</span>
                        <span>130****8117</span>
                        <span>2元现金红包</span>
                    </li>
                    <li>
                        <span>18分钟前</span>
                        <span>155****1234</span>
                        <span>1529元现金红包</span>
                    </li>
                    <li>
                        <span>18分钟前</span>
                        <span>159****3357</span>
                        <span>1141元现金红包</span>
                    </li>
                    <li>
                        <span>18分钟前</span>
                        <span>136****5018</span>
                        <span>367元现金红包</span>
                    </li>
                    <li>
                        <span>19分钟前</span>
                        <span>187****5114</span>
                        <span>56元现金红包</span>
                    </li>
                    <li>
                        <span>20分钟前</span>
                        <span>186****2516</span>
                        <span>143元现金红包</span>
                    </li>
                    <li>
                        <span>20分钟前</span>
                        <span>150****6391</span>
                        <span>1511元现金红包</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="m-cover"></div>
    <div class="m-pop">
        <div class="hdgz">
            <h3><img src="/app/images/hdgz.png"></h3>
            <a href="javascript:;" class="dx"><img src="/app/images/dx.png"></a>
            <p>1.本次活动时间为10.13-11.13日，用户通过APP注册开户即可参与免费领取现金红包；</p>
            <p>2.本次现金红包金额随机20-2000元，每个用户仅限参与1次；</p>
            <p>3.现金红包每周发放一次，发放至用户开户的银行卡账户，如未开户不发放。</p>
        </div>
    </div>
</div>
<!--正文-->
<!--预约弹框-->
<script>
    $(function () {
        var jq = jQuery.noConflict();
        window.$$ = window.Zepto = Zepto;
        var iHeight = document.documentElement.clientWidth / 20 * 1.73
        jq(".hblq-list").myScroll({
            speed: 10,
            rowHeight: iHeight
        });
        $$(".dx").tap(function () {
            $$(".m-cover").hide();
            $$(".m-pop").hide();
        });
        $$(".rule").tap(function () {
            $$(".m-cover").show();
            $$(".m-pop").show();
        });

        $$(".m-cover").tap(function () {
            $$(".m-cover").hide();
            $$(".m-pop").hide();
        });

        $$(".rews,.ffds").tap(function (e) {
            e.preventDefault();
            window.WebViewJavascriptBridge.callHandler('attendActivity', 1, function (response) {
                if (response != '110010') {
                    $$("#rfvs").hide();
                    $$("#cxas").css({
                        "display": "inline-block"
                    });
                    $$("#cxas").off();
                    $$("#cxas").attr('href', 'http://app.jindinghui.com.cn/mine/contactUs');
                    setTimeout(function () {
                        $$(".dqhb").show();
                        $$(".dqhb em").html(128);
                    }, 1000);
                    $$(".wkq").hide();
                    $$(".pql").show();
                    $$(".gb1").addClass("fade");
                    $$(".gb2").addClass("fade");
                    $$(".gb3").addClass("fade");
                    $$(".q1").addClass("di1");
                    $$(".q2").addClass("di2");
                    $$(".q3").addClass("di3");
                    $$(".q4").addClass("di4");
                    $$(".q5").addClass("di5");
                    $$(".q6").addClass("di6");
                }
            });
        });

    })
</script>
</body>
</html>