<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzm.tyb.dao.TeacherHanDanMapper" >
  <resultMap id="BaseResultMap" type="com.xzm.tyb.pojo.entity.TybTeacherHanDan" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="kc_time" property="kcTime" jdbcType="TIMESTAMP" />
    <result column="lei_xing" property="leiXing" jdbcType="VARCHAR" />
    <result column="cang_wei" property="cangWei" jdbcType="INTEGER" />
    <result column="cang_wei_type" property="cangWeiType" jdbcType="VARCHAR" />
    <result column="ping_zhong" property="pingZhong" jdbcType="VARCHAR" />
    <result column="kai_cang_jia" property="kaiCangJia" jdbcType="REAL" />
    <result column="zhi_sun_jia" property="zhiSunJia" jdbcType="REAL" />
    <result column="zhi_yin_jia" property="zhiYinJia" jdbcType="REAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="kai_cang_ce_lv" property="kaiCangCeLv" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="room_id" property="roomId" jdbcType="REAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="teacher_id" property="teacherId" jdbcType="INTEGER" />
    <result column="ping_cang_time" property="pingCangTime" jdbcType="TIMESTAMP" />
    <result column="ping_cang_jia" property="pingCangJia" jdbcType="VARCHAR" />
    <result column="hl_dian" property="hlDian" jdbcType="REAL" />
    <result column="profit" property="profit" jdbcType="REAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updata_time" property="updataTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, kc_time, lei_xing, cang_wei, cang_wei_type, ping_zhong, kai_cang_jia, zhi_sun_jia, 
    zhi_yin_jia, remark, kai_cang_ce_lv, type, room_id, status, teacher_id, ping_cang_time, 
    ping_cang_jia, hl_dian, profit, create_time, updata_time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tyb_teacher_han_dan
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tyb_teacher_han_dan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.xzm.tyb.pojo.entity.TybTeacherHanDan" >
    insert into tyb_teacher_han_dan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="kcTime != null" >
        kc_time,
      </if>
      <if test="leiXing != null" >
        lei_xing,
      </if>
      <if test="cangWei != null" >
        cang_wei,
      </if>
      <if test="cangWeiType != null" >
        cang_wei_type,
      </if>
      <if test="pingZhong != null" >
        ping_zhong,
      </if>
      <if test="kaiCangJia != null" >
        kai_cang_jia,
      </if>
      <if test="zhiSunJia != null" >
        zhi_sun_jia,
      </if>
      <if test="zhiYinJia != null" >
        zhi_yin_jia,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="kaiCangCeLv != null" >
        kai_cang_ce_lv,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="roomId != null" >
        room_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="teacherId != null" >
        teacher_id,
      </if>
      <if test="pingCangTime != null" >
        ping_cang_time,
      </if>
      <if test="pingCangJia != null" >
        ping_cang_jia,
      </if>
      <if test="hlDian != null" >
        hl_dian,
      </if>
      <if test="profit != null" >
        profit,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updataTime != null" >
        updata_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="kcTime != null" >
        #{kcTime,jdbcType=TIMESTAMP},
      </if>
      <if test="leiXing != null" >
        #{leiXing,jdbcType=VARCHAR},
      </if>
      <if test="cangWei != null" >
        #{cangWei,jdbcType=INTEGER},
      </if>
      <if test="cangWeiType != null" >
        #{cangWeiType,jdbcType=VARCHAR},
      </if>
      <if test="pingZhong != null" >
        #{pingZhong,jdbcType=VARCHAR},
      </if>
      <if test="kaiCangJia != null" >
        #{kaiCangJia,jdbcType=REAL},
      </if>
      <if test="zhiSunJia != null" >
        #{zhiSunJia,jdbcType=REAL},
      </if>
      <if test="zhiYinJia != null" >
        #{zhiYinJia,jdbcType=REAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="kaiCangCeLv != null" >
        #{kaiCangCeLv,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null" >
        #{roomId,jdbcType=REAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="teacherId != null" >
        #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="pingCangTime != null" >
        #{pingCangTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pingCangJia != null" >
        #{pingCangJia,jdbcType=VARCHAR},
      </if>
      <if test="hlDian != null" >
        #{hlDian,jdbcType=REAL},
      </if>
      <if test="profit != null" >
        #{profit,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updataTime != null" >
        #{updataTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.xzm.tyb.pojo.entity.TybTeacherHanDan" >
    update tyb_teacher_han_dan
    <set >
      <if test="kcTime != null" >
        kc_time = #{kcTime,jdbcType=TIMESTAMP},
      </if>
      <if test="leiXing != null" >
        lei_xing = #{leiXing,jdbcType=VARCHAR},
      </if>
      <if test="cangWei != null" >
        cang_wei = #{cangWei,jdbcType=INTEGER},
      </if>
      <if test="cangWeiType != null" >
        cang_wei_type = #{cangWeiType,jdbcType=VARCHAR},
      </if>
      <if test="pingZhong != null" >
        ping_zhong = #{pingZhong,jdbcType=VARCHAR},
      </if>
      <if test="kaiCangJia != null" >
        kai_cang_jia = #{kaiCangJia,jdbcType=REAL},
      </if>
      <if test="zhiSunJia != null" >
        zhi_sun_jia = #{zhiSunJia,jdbcType=REAL},
      </if>
      <if test="zhiYinJia != null" >
        zhi_yin_jia = #{zhiYinJia,jdbcType=REAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="kaiCangCeLv != null" >
        kai_cang_ce_lv = #{kaiCangCeLv,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null" >
        room_id = #{roomId,jdbcType=REAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="teacherId != null" >
        teacher_id = #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="pingCangTime != null" >
        ping_cang_time = #{pingCangTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pingCangJia != null" >
        ping_cang_jia = #{pingCangJia,jdbcType=VARCHAR},
      </if>
      <if test="hlDian != null" >
        hl_dian = #{hlDian,jdbcType=REAL},
      </if>
      <if test="profit != null" >
        profit = #{profit,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updataTime != null" >
        updata_time = #{updataTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.xzm.tyb.pojo.entity.TybTeacherHanDan" >
    update tyb_teacher_han_dan
    set kc_time = #{kcTime,jdbcType=TIMESTAMP},
      lei_xing = #{leiXing,jdbcType=VARCHAR},
      cang_wei = #{cangWei,jdbcType=INTEGER},
      cang_wei_type = #{cangWeiType,jdbcType=VARCHAR},
      ping_zhong = #{pingZhong,jdbcType=VARCHAR},
      kai_cang_jia = #{kaiCangJia,jdbcType=REAL},
      zhi_sun_jia = #{zhiSunJia,jdbcType=REAL},
      zhi_yin_jia = #{zhiYinJia,jdbcType=REAL},
      remark = #{remark,jdbcType=VARCHAR},
      kai_cang_ce_lv = #{kaiCangCeLv,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      room_id = #{roomId,jdbcType=REAL},
      status = #{status,jdbcType=INTEGER},
      teacher_id = #{teacherId,jdbcType=INTEGER},
      ping_cang_time = #{pingCangTime,jdbcType=TIMESTAMP},
      ping_cang_jia = #{pingCangJia,jdbcType=VARCHAR},
      hl_dian = #{hlDian,jdbcType=REAL},
      profit = #{profit,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updata_time = #{updataTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectGenDanTeacherListByTeacherIds" parameterType="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tyb_teacher_han_dan
         <!--<where>-->
            <!--<foreach collection=""-->
         <!--</where>-->
    where  <foreach collection="ids" item="teacherId" open="(" close=")" separator="or">
         teacher_id=#{teacherId}
          </foreach>

  </select>

</mapper>