<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzm.tyb.dao.TybImportantMessageMapper" >
  <resultMap id="BaseResultMap" type="com.xzm.tyb.pojo.entity.TybImportantMessage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="autoid" property="autoid" jdbcType="VARCHAR" />
    <result column="preValue" property="prevalue" jdbcType="VARCHAR" />
    <result column="day" property="day" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="importence" property="importence" jdbcType="VARCHAR" />
    <result column="question" property="question" jdbcType="VARCHAR" />
    <result column="annValue" property="annvalue" jdbcType="VARCHAR" />
    <result column="imageUrl" property="imageurl" jdbcType="VARCHAR" />
    <result column="goodPers" property="goodpers" jdbcType="INTEGER" />
    <result column="badPers" property="badpers" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updata_time" property="updataTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, time, autoid, preValue, day, name, importence, question, annValue, imageUrl, 
    goodPers, badPers, create_time, updata_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tyb_important_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tyb_important_message
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.xzm.tyb.pojo.entity.TybImportantMessage" >
    insert into tyb_important_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="autoid != null" >
        autoid,
      </if>
      <if test="prevalue != null" >
        preValue,
      </if>
      <if test="day != null" >
        day,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="importence != null" >
        importence,
      </if>
      <if test="question != null" >
        question,
      </if>
      <if test="annvalue != null" >
        annValue,
      </if>
      <if test="imageurl != null" >
        imageUrl,
      </if>
      <if test="goodpers != null" >
        goodPers,
      </if>
      <if test="badpers != null" >
        badPers,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updataTime != null" >
        updata_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="autoid != null" >
        #{autoid,jdbcType=VARCHAR},
      </if>
      <if test="prevalue != null" >
        #{prevalue,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        #{day,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="importence != null" >
        #{importence,jdbcType=VARCHAR},
      </if>
      <if test="question != null" >
        #{question,jdbcType=VARCHAR},
      </if>
      <if test="annvalue != null" >
        #{annvalue,jdbcType=VARCHAR},
      </if>
      <if test="imageurl != null" >
        #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="goodpers != null" >
        #{goodpers,jdbcType=INTEGER},
      </if>
      <if test="badpers != null" >
        #{badpers,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updataTime != null" >
        #{updataTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xzm.tyb.pojo.entity.TybImportantMessage" >
    update tyb_important_message
    <set >
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="autoid != null" >
        autoid = #{autoid,jdbcType=VARCHAR},
      </if>
      <if test="prevalue != null" >
        preValue = #{prevalue,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        day = #{day,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="importence != null" >
        importence = #{importence,jdbcType=VARCHAR},
      </if>
      <if test="question != null" >
        question = #{question,jdbcType=VARCHAR},
      </if>
      <if test="annvalue != null" >
        annValue = #{annvalue,jdbcType=VARCHAR},
      </if>
      <if test="imageurl != null" >
        imageUrl = #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="goodpers != null" >
        goodPers = #{goodpers,jdbcType=INTEGER},
      </if>
      <if test="badpers != null" >
        badPers = #{badpers,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updataTime != null" >
        updata_time = #{updataTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xzm.tyb.pojo.entity.TybImportantMessage" >
    update tyb_important_message
    set time = #{time,jdbcType=TIMESTAMP},
      autoid = #{autoid,jdbcType=VARCHAR},
      preValue = #{prevalue,jdbcType=VARCHAR},
      day = #{day,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      importence = #{importence,jdbcType=VARCHAR},
      question = #{question,jdbcType=VARCHAR},
      annValue = #{annvalue,jdbcType=VARCHAR},
      imageUrl = #{imageurl,jdbcType=VARCHAR},
      goodPers = #{goodpers,jdbcType=INTEGER},
      badPers = #{badpers,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updata_time = #{updataTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>