<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzm.tyb.dao.TybTeacherMapper">
    <resultMap id="BaseResultMap" type="com.xzm.tyb.pojo.TybTeacher">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="thumb" property="thumb" jdbcType="VARCHAR"/>
        <result column="teacher_name" property="teacherName" jdbcType="VARCHAR"/>
        <result column="dian_zan_count" property="dianZanCount" jdbcType="INTEGER"/>
        <result column="hdcgl" property="hdcgl" jdbcType="REAL"/>
        <result column="profit" property="profit" jdbcType="REAL"/>
        <result column="gen_dan_count" property="genDanCount" jdbcType="VARCHAR"/>
        <result column="pin_zhong" property="pinZhong" jdbcType="VARCHAR"/>
        <result column="cang_wei" property="cangWei" jdbcType="REAL"/>
        <result column="dian_wei" property="dianWei" jdbcType="REAL"/>
        <result column="shou_yi" property="shouYi" jdbcType="REAL"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="updata_time" property="updataTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, thumb, teacher_name, dian_zan_count, hdcgl, profit, gen_dan_count, pin_zhong,
        cang_wei, dian_wei, shou_yi, content, create_time, updata_time
    </sql>

    <sql id="query_test_where">
        <if test="ids!=null">
            <!-- 使用 foreach遍历传入ids
            collection：指定输入 对象中集合属性
            item：每个遍历生成对象中
            open：开始遍历时拼接的串
            close：结束遍历时拼接的串
            separator：遍历的两个对象中需要拼接的串
             -->
            <!-- 使用实现下边的sql拼接：
             AND (id=1 OR id=10 OR id=16)
             -->
            <foreach collection="ids" item="teacherId" open="(" close=")" separator="or">
                <!-- 每个遍历需要拼接的串 -->
                id=#{teacherId}
            </foreach>

        </if>
    </sql>
    <sql id="query_test_where2">
        <if test="ids!=null">


            <!-- 实现  “ and id IN(1,10,16)”拼接 -->
             <foreach collection="ids" item="teacherId" open="id in(" close=")" separator=",">
                 #{teacherId}
            </foreach>
        </if>
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tyb_teacher
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectTeacherList" resultType="com.xzm.tyb.pojo.TybTeacher">
        select
        <include refid="Base_Column_List"/>
        from tyb_teacher
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tyb_teacher
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insertSelective" parameterType="com.xzm.tyb.pojo.TybTeacher">
        insert into tyb_teacher
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="thumb != null">
                thumb,
            </if>
            <if test="teacherName != null">
                teacher_name,
            </if>
            <if test="dianZanCount != null">
                dian_zan_count,
            </if>
            <if test="hdcgl != null">
                hdcgl,
            </if>
            <if test="profit != null">
                profit,
            </if>
            <if test="genDanCount != null">
                gen_dan_count,
            </if>
            <if test="pinZhong != null">
                pin_zhong,
            </if>
            <if test="cangWei != null">
                cang_wei,
            </if>
            <if test="dianWei != null">
                dian_wei,
            </if>
            <if test="shouYi != null">
                shou_yi,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updataTime != null">
                updata_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="thumb != null">
                #{thumb,jdbcType=VARCHAR},
            </if>
            <if test="teacherName != null">
                #{teacherName,jdbcType=VARCHAR},
            </if>
            <if test="dianZanCount != null">
                #{dianZanCount,jdbcType=INTEGER},
            </if>
            <if test="hdcgl != null">
                #{hdcgl,jdbcType=REAL},
            </if>
            <if test="profit != null">
                #{profit,jdbcType=REAL},
            </if>
            <if test="genDanCount != null">
                #{genDanCount,jdbcType=VARCHAR},
            </if>
            <if test="pinZhong != null">
                #{pinZhong,jdbcType=VARCHAR},
            </if>
            <if test="cangWei != null">
                #{cangWei,jdbcType=REAL},
            </if>
            <if test="dianWei != null">
                #{dianWei,jdbcType=REAL},
            </if>
            <if test="shouYi != null">
                #{shouYi,jdbcType=REAL},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updataTime != null">
                #{updataTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.xzm.tyb.pojo.TybTeacher">
        update tyb_teacher
        <set>
            <if test="thumb != null">
                thumb = #{thumb,jdbcType=VARCHAR},
            </if>
            <if test="teacherName != null">
                teacher_name = #{teacherName,jdbcType=VARCHAR},
            </if>
            <if test="dianZanCount != null">
                dian_zan_count = #{dianZanCount,jdbcType=INTEGER},
            </if>
            <if test="hdcgl != null">
                hdcgl = #{hdcgl,jdbcType=REAL},
            </if>
            <if test="profit != null">
                profit = #{profit,jdbcType=REAL},
            </if>
            <if test="genDanCount != null">
                gen_dan_count = #{genDanCount,jdbcType=VARCHAR},
            </if>
            <if test="pinZhong != null">
                pin_zhong = #{pinZhong,jdbcType=VARCHAR},
            </if>
            <if test="cangWei != null">
                cang_wei = #{cangWei,jdbcType=REAL},
            </if>
            <if test="dianWei != null">
                dian_wei = #{dianWei,jdbcType=REAL},
            </if>
            <if test="shouYi != null">
                shou_yi = #{shouYi,jdbcType=REAL},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updataTime != null">
                updata_time = #{updataTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.xzm.tyb.pojo.TybTeacher">
        update tyb_teacher
        set thumb          = #{thumb,jdbcType=VARCHAR},
            teacher_name   = #{teacherName,jdbcType=VARCHAR},
            dian_zan_count = #{dianZanCount,jdbcType=INTEGER},
            hdcgl          = #{hdcgl,jdbcType=REAL},
            profit         = #{profit,jdbcType=REAL},
            gen_dan_count  = #{genDanCount,jdbcType=VARCHAR},
            pin_zhong      = #{pinZhong,jdbcType=VARCHAR},
            cang_wei       = #{cangWei,jdbcType=REAL},
            dian_wei       = #{dianWei,jdbcType=REAL},
            shou_yi        = #{shouYi,jdbcType=REAL},
            content        = #{content,jdbcType=VARCHAR},
            create_time    = #{createTime,jdbcType=TIMESTAMP},
            updata_time    = #{updataTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>


    <select id="selectTeacherListByIds" resultType="com.xzm.tyb.pojo.TybTeacher"
            parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from tyb_teacher
        <where>
            <include refid="query_test_where2"/>
        </where>
    </select>
    <select id="selectTeacherByPrimaryKey" resultType="integer"
            parameterType="integer">
        select count(1)
        from tyb_teacher
        where id = #{id}
    </select>

</mapper>