<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzm.tyb.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.xzm.tyb.pojo.entity.TybUser">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="phone_url" property="phoneUrl" jdbcType="VARCHAR"/>
        <result column="push_status" property="pushStatus" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="updata_time" property="updataTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, nick_name, phone, password, phone_url, push_status, create_time, updata_time
    </sql>
    <select id="checkUserValid" resultType="java.lang.Integer" parameterType="string">
        select count(1)
        from tyb_user
        where phone = #{phone}
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from tyb_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByUserNameAndPassWord" resultType="com.xzm.tyb.pojo.entity.TybUser" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from tyb_user
        where phone=#{phone,jdbcType=VARCHAR}
        and password=#{password,jdbcType=VARCHAR}

    </select>
    <select id="selectByUniqueKey" resultType="com.xzm.tyb.pojo.entity.TybUser" parameterType="string">
        select <include refid="Base_Column_List"/>
        from tyb_user
        where phone=#{phone,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tyb_user
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insertSelective" parameterType="com.xzm.tyb.pojo.entity.TybUser">
        insert into tyb_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="phoneUrl != null">
                phone_url,
            </if>
            <if test="pushStatus != null">
                push_status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updataTime != null">
                updata_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="phoneUrl != null">
                #{phoneUrl,jdbcType=VARCHAR},
            </if>
            <if test="pushStatus != null">
                #{pushStatus,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updataTime != null">
                #{updataTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xzm.tyb.pojo.entity.TybUser">
        update tyb_user
        <set>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="phoneUrl != null">
                phone_url = #{phoneUrl,jdbcType=VARCHAR},
            </if>
            <if test="pushStatus != null">
                push_status = #{pushStatus,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updataTime != null">
                updata_time = #{updataTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xzm.tyb.pojo.entity.TybUser">
        update tyb_user
        set nick_name   = #{nickName,jdbcType=VARCHAR},
            phone       = #{phone,jdbcType=VARCHAR},
            password    = #{password,jdbcType=VARCHAR},
            phone_url   = #{phoneUrl,jdbcType=VARCHAR},
            push_status = #{pushStatus,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            updata_time = #{updataTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateUserNameByUniqueKey" parameterType="map">
        update tyb_user
        set nick_name = #{nick_name,jdbcType=VARCHAR}
        where phone = #{phone,jdbcType=VARCHAR}
    </update>
</mapper>