<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
    <title th:text="${title}"></title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>


    <link th:href="@{../../css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{../../css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{../../plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet"/>
    <link th:href="@{../../plugins/treegrid/jquery.treegrid.css}" rel="stylesheet"/>
    <link th:href="@{../../plugins/ztree/css/metroStyle/metroStyle.css}" rel="stylesheet"/>
    <link th:href="@{../../plugins/double-box/doublebox-bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{../../css/style.min.css}" rel="stylesheet"/>
    <link th:href="@{../../css/common.min.css}" rel="stylesheet"/>


    <!--这是另外webProject里面一套模板引用的方式-->·
    <!-- Bootstrap 3.3.6 -->
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
    <!--&lt;!&ndash; 字体  &ndash;&gt;-->
    <!--<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">-->
    <!--&lt;!&ndash; 图标 &ndash;&gt;-->
    <!--<link rel="stylesheet" th:href="@{/css/ionicons.min.css}">-->
    <!--&lt;!&ndash; 主题 &ndash;&gt;-->
    <!--<link rel="stylesheet" th:href="@{/css/AdminLTE.min.css}">-->
    <!--&lt;!&ndash;皮肤&ndash;&gt;-->
    <!--<link rel="stylesheet" th:href="@{/css/all-skins.min.css}">-->
    <!--<script th:src="@{/plugins/ie9/html5shiv.min.js}"></script>-->
    <!--<script th:src="@{/plugins/ie9/respond.min.js}"></script>-->


</head>
